* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-dark-grey: #171717;
    --color-light-grey: #c5cdce;
}

body {
    background-color: var(--color-dark-grey);
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.loader {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border-top: 0.32rem dotted var(--color-light-grey);
    border-right: solid var(--color-dark-grey);
    border-left: solid var(--color-dark-grey);
    animation: loaderAnimate 2s ease-in infinite;
}

.footer {
    color: white;
    letter-spacing: 2px;
}

/* -------------------animation--------- */
@keyframes loaderAnimate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
